<div class="row">
    <div class="col-sm-12 header">

        <h1 class=text-center>Children</h1>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-primary">Diary</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                  </div>
            </div>
          </div>
    </div>
</div>
</div>