<div class="row">
    <div class="col-sm-12 header">

        <h1 class=text-center>Children</h1>
    </div>
</div>
<div class="container">
<div class="row" >
    <div class="col-sm-3 p-0 m-0" *ngFor="let child of children$">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/profielfotoRoos.jpg" class="card-img-top" alt="...">
            <h1>{{child.child_firstname}}</h1>
            <div class="card-body d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-kindfox-warning">Edit</button>
                    <button type="button" class="btn btn-kindfox-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="childId = child.id">Diary</button>
                    <button type="button" class="btn btn-kindfox-danger"
                    (click)="onDelete(child)">Delete</button>
                  </div>
            </div>
          </div>
    </div>
   
</div>
</div>

<app-child-diary [child_id]="childId" (diaryAdded)="onDiaryAdd($event)"></app-child-diary>