.header {
    background-color: #C38D9E;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

button.btn.btn-kindfox-success {
    background-color: #85CDCA;
    color: white
 }
 button.btn.btn-kindfox-success:hover {
    background-color: #66a7a4;
  }
 
  button.btn.btn-kindfox-warning {
    background-color: #E27D60 ;
    color: white
 }
 button.btn.btn-kindfox-warning:hover {
   background-color: #c66145 ;
   color: white
}
 button.btn.btn-kindfox-danger {
    background-color: #A40043 ;
    color: white
 }
 button.btn.btn-kindfox-danger:hover {
    background-color: #89023A ;
    color: white
 }

 button.btn.btn-kindfox-primary {
    background-color: #41B3A3 ;
    color: white
 }

 button.btn.btn-kindfox-primary:hover {
    background-color: #2b7b71 ;
    color: white
 }

 .green-border {
   border: 5px solid #85CDCA;
   border-radius: 15px;
   margin: -5px;
   padding: -15px;
}

button.btn.btn-kindfox-done {
   background-color: #A9EED1;
   color: white;
}
 