*{
    color: white;
}

i.fa-frown-open {
    
    font-size: 48px;
    padding: 10px;
    margin: 5px;
}

i.fa-smile-beam {
    
    font-size: 48px;
    padding: 10px;
    margin: 5px;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
    border: 2px solid #E27D60;
    border-radius: 5px;
    color:black;
}

button.btn-smile {
    border-radius: 25px;
    margin:0
}

.green-border {
    border: 5px solid #85CDCA;
    padding: 10px;
    border-radius: 15px;
}

.kindfox-green-bg {
    background-color: #85CDCA;
    border-radius: 5px;
}

.kindfox-font-orange {
    color: #E27D60 ;
    font-size: large;
    font-weight: 500;
}

i.fas.fa-poo {
    
    font-size: 35px;
    margin:auto;
    padding: 3px;
}

.brown-poop {
    color: rgb(106, 57, 46)
}

button.btn.btn-kindfox-primary {
    background-color: #41B3A3 ;
    color: white
 }

 button.btn.btn-kindfox-primary:hover {
    background-color: #2b7b71 ;
    color: white
 }

 .yellow-face {
     color: rgb(255, 204, 0);
 }

 .white-border {
    border: 5px solid white;
    padding: 10px;
    border-radius: 15px;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.help-block {
    color: red;
}

textarea.text-style {
    width: 95%
}




