*{
    color: white;
}

i.fa-frown-open {
    color: #E27D60 ;
    font-size: 48px;
}

i.fa-smile-beam {
    color: #E27D60 ;
    font-size: 48px;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
    border: 2px solid #E27D60;
    border-radius: 5px;
    color:black;
}

button.btn-smile {
    border-radius: 25px;
    margin:0
}

.green-border {
    border: 5px solid #85CDCA;
    padding: 10px;
    border-radius: 15px;
}

.kindfox-green-bg {
    background-color: #85CDCA;
    border-radius: 5px;
}

.kindfox-font-orange {
    color: #E27D60 ;
    font-size: large;
    font-weight: 500;
}

i.fas.fa-poo {
    color: rgb(128, 72, 36);
    font-size: 35px;
    margin:auto;
    padding: 3px;
}




