<!--Diary Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header kindfox-green-bg">
          <img src="../../assets/img/Kindfoxlogowhite.png" width="150px" class="logo">
          <h5 class="modal-title" id="exampleModalLabel">Diary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-2">
            <form>
                <div class="mb-3 row">
                    <div class="col form-floating m-2 p-4 green-border">
                        <div class="row">
                            <p class="kindfox-font-orange">What I ate?</p>
                            <textarea name="" id="" cols="30" rows="3"
                            placeholder="Today I ate all of my broccoli soup..."
                            #message_food></textarea>
                        </div>
                        <div class="d-flex d-row justify-content-center m-3">
                            
                                <button type="button" class="btn btn-smile"
                                (click)="smileIndFood = 'fas fa-smile-beam'">
                                    <i class="fas fa-smile-beam"></i>
                                </button>
                            
                                <button type="button" class="btn btn-smile"
                                (click)="smileIndFood = 'fas fa-frown-open'">
                                    <i class="fas fa-frown-open"></i>
                                </button>
                            
                        </div>
                    </div>
                    <div class="col form-floating m-2 p-4 green-border">
                        <div class="row">
                            <p class="kindfox-font-orange">How I slept?</p>
                            <textarea name="" id="" cols="30" rows="3" placeholder="I slept for 2 hours from..."
                            #message_sleep></textarea>
                        </div>
                        <div class="d-flex d-row justify-content-center m-3">
                            <button type="button" class="btn btn-smile"
                                (click)="smileIndSleep = 'fas fa-smile-beam'">
                                    <i class="fas fa-smile-beam"></i>
                                </button>
                                <button type="button" class="btn btn-smile"
                                (click)="smileIndSleep = 'fas fa-frown-open'">
                                    <i class="fas fa-frown-open"
                                    appDiaryDir></i>
                                </button>
                        </div>
                    </div>
                </div>
                <div class="row kindfox-green-bg mt-3 mb-3 p-3">
                    <div class="col d-flex d-row">
                        <h5 class="mr-3">Pot visits</h5>
                        <div *ngFor="let poop of poopies; let i = index">
                            <div class="col-auto">
                                <i class={{poop}} appDiaryDir
                                (click)="poopInd = i"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row kindfox-green-bg mt-3 mb-3 p-3">
                    <div class="col d-flex d-row">
                        <h5>My well-being</h5>
                        <div class="form-check" *ngFor="let mood of moods; let i = index">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{mood}}
                              </label>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            (click)="moodMsg = i">
                        </div>
                    </div>
                </div>
                <div class="row green-border">
                    <div class="col form-floating m-3">
                        <p class="kindfox-font-orange">Activities</p>
                        <textarea name="" id="" cols="80" rows="3" placeholder="Puzzles"
                        #messageAct></textarea>
                    </div>
                </div>
                <div class="row kindfox-green-bg mt-3 mb-3 p-3">
                    <div class="col">
                        <h5>Involvement</h5>
                        <div class="form-check" *ngFor="let inv of involvements; let i = index">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{inv}}
                              </label>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            (click)="involvementMsg = i">
                        </div>
                    </div>
                </div>
                <div class="row green-border">
                    <div class="col form-floating m-3">
                        <p class="kindfox-font-orange">Message to the parent</p>
                        <textarea name="" id="" cols="80" rows="3" placeholder="Write here a message to the parent"
                        #extraMessage></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-kindfox-primary"
                (click)="onSubmit(message_food.value, message_sleep.value, messageAct.value, extraMessage.value)">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>

  <!--
      <i class='fas fa-poo' appDiaryDir
                        (mouseover)="poopInd = 0"></i>
                        <i class='fas fa-poo' appDiaryDir
                        (mouseover)="poopInd = 1"></i>
                        <i class='fas fa-poo' appDiaryDir
                        (mouseover)="poopInd = 2"></i>
                        <i class='fas fa-poo' appDiaryDir
                        (mouseover)="poopInd = 3"></i>
                        <i class='fas fa-poo' appDiaryDir
                        (mouseover)="poopInd = 4"></i>
  -->
