<!-- our messaboard navbar with link to the dashboard, notifications and user settings -->

<nav class="top-nav navbar navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../assets/img/Kindfoxlogowhite.png" width="100px">
      </a>
      <div class="nav-links d-flex">
        
        
        <a class="nav-link" href="#" (click)="logOut()">Logout</a>
        <a class="nav-link hamburger"><i (click)="toggleSideNav()" class="fa-solid fa-bars"></i></a>
        
        
      </div>
    </div>
  </nav>