<!-- our messaboard navbar with link to the dashboard, notifications and user settings -->

<nav class="top-nav navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../assets/img/Kindfoxlogowhite.png" width="100px">
      </a>
      <div class="nav-links d-flex">
        <a class="nav-link" routerLink="../dashboard">Dashboard</a>
        <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
      </div>
    </div>
  </nav>