<!-- this is the where the posts will be displayed (and the searchbar) -->

<div class="row justify-content-center search my-4">
        <div class="col-sm-6">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
<!---->
<div *ngIf="postCheck">

<div *ngFor="let posts of posts" class="row justify-content-center my-3">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <img src="{{posts.avatar}}" class="img-responsive rounded-circle" width="50px" alt="">
          </div>
          <div class="col-sm-10">
            <h5 class="card-title">{{posts.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted <span>{{calculateTimeSince(posts.created_at)}}</span><span> ago</span></h6>
          </div>
        </div>
        <p class="card-text" [innerHTML]="posts.message" ></p>
      </div>
      <div class="card-footer text-muted">
       <div class="privacy d-flex justify-content-between">
         <p class="m-0" *ngIf="posts.privacy == 0; else private">Every parent can see this message</p>
         <ng-template #private>Only You can see this message</ng-template>
         <button class="btn btn-secondary m-0 commentbutton" (click)="messageId(posts.id)">Comments</button>
       </div> 
      </div>
      <app-mb-comments (commentNum)="commentNumber($event)" [postId]="posts.id" *ngIf="msgId == posts.id && msgToggle"></app-mb-comments>
    </div>
  </div>
</div>

</div>
<!---->
      <!-- <div class="row justify-content-center my-3">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <i class="border p-3 rounded-circle fas fa-user"></i>
                </div>
                <div class="col-sm-10">
                  <h5 class="card-title">Childcare Sunshine</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Posted 5 minutes ago</h6>
                </div>
              </div>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium laudantium labore sed id, eaque consequuntur repudiandae quisquam sint, inventore neque temporibus! Porro mollitia dolores suscipit nisi! Aliquam sed aspernatur possimus autem, odio deleniti a illo ullam dignissimos ab ducimus molestias iste officiis quam laborum voluptatum!</p>
            </div>
            <div class="card-footer text-muted">
             <div class="privacy d-flex justify-content-between">
               <p class="m-0">Every parent can see this message</p>
               <p class="m-0">Comments</p>
             </div> 
            </div>
          </div>
        </div>
      </div> -->
     
      <!--

      <div class="row justify-content-center my-3">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <i class="border p-3 rounded-circle fas fa-user"></i>
                </div>
                <div class="col-sm-10">
                  <h5 class="card-title">Childcare Sunshine</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Posted 5 minutes ago</h6>
                </div>
              </div>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium laudantium labore sed id, eaque consequuntur repudiandae quisquam sint, inventore neque temporibus! Porro mollitia dolores suscipit nisi! Aliquam sed aspernatur possimus autem, odio deleniti a illo ullam dignissimos ab ducimus molestias iste officiis quam laborum voluptatum!</p>
            </div>
            <div class="card-footer text-muted">
             <div class="privacy d-flex justify-content-between">
               <p class="m-0">Every parent can see this message</p>
               <p class="m-0">Comments</p>
             </div> 
            </div>
          </div>
        </div>
      </div>
     
      <div class="row justify-content-center my-3">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-1">
                  <i class="border p-3 rounded-circle fas fa-user"></i>
                </div>
                <div class="col-sm-10">
                  <h5 class="card-title">Childcare Sunshine</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Posted 5 minutes ago</h6>
                </div>
              </div>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium laudantium labore sed id, eaque consequuntur repudiandae quisquam sint, inventore neque temporibus! Porro mollitia dolores suscipit nisi! Aliquam sed aspernatur possimus autem, odio deleniti a illo ullam dignissimos ab ducimus molestias iste officiis quam laborum voluptatum!</p>
            </div>
            <div class="card-footer text-muted">
             <div class="privacy d-flex justify-content-between">
               <p class="m-0">Every parent can see this message</p>
               <p class="m-0">Comments</p>
             </div> 
            </div>
          </div>
        </div>
      </div>
    -->