<div class="row">
    <div class="d-flex d-row">
        <h1>Parents</h1>
        <a class="nav-link" routerLink="parent-add">
          <button type="button" class="btn btn-success">
            <span> <i class="fa fa-plus-circle"></i> Add </span>
          </button>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Niels</td>
                <td>Martens</td>
                <td>niels_martens@live.nl</td>
                <td>0494/123456</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-success m-1">See Details</button>
                        <button type="button" class="btn btn-warning m-1">Edit</button>
                        <button type="button" class="btn btn-danger m-1">Delete</button>
                      </div>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>
