button.btn.btn-kindfox-success {
    background-color: #85CDCA;
    color: white
 }
 
 button.btn.btn-kindfox-warning {
     background-color: #E27D60 ;
     color: white
  }

 button.btn.btn-kindfox-danger {
    background-color: #A40043 ;
    color: white
 }

  
