<div class="row">
    <div class="d-flex d-row">
        <h1>Parents</h1>
        <a class="nav-link" routerLink="parent-add"
        (click)=onClick()>
          <button type="button" class="btn btn-success">
            <span *ngIf="!isclicked"><i class="fa fa-plus-circle"></i> Add </span>
            <span *ngIf="isclicked"><i class="fa fa-times-circle"></i> Close </span>
          </button>
        </a>
    </div>
    <div *ngIf="isclicked">
      <app-parent-add
      (onSubmitted)="onAddParent($event)"></app-parent-add>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let parent of parents$">
              <tr>
                <th scope="row">{{parent.id}}</th>
                <td>{{parent.firstname}}</td>
                <td>{{parent.lastname}}</td>
                <td>{{parent.email}}</td>
                <td>{{parent.phone}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-kindfox-success m-1" data-bs-toggle="modal" data-bs-target="#detailModal"
                        (click)="parentId = parent.id"><i class="fas fa-info-circle"></i> Details</button>
                        <button type="button" class="btn btn-kindfox-warning m-1"
                        data-bs-toggle="modal" data-bs-target="#editParent"
                        (click)="editThisParent = parent"><i class="fas fa-edit"></i> Edit</button>
                        <button type="button" class="btn btn-kindfox-danger m-1" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="onDelete(parent)"><i class="far fa-trash-alt"></i> Delete</button>
                      </div>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>


<app-parent-details [detail]="parentId" (addedChild)="onAddChild($event)"></app-parent-details>
<app-parent-edit [parentToEdit]="editThisParent" (edittedParent)="onEdit($event)"></app-parent-edit>
<!--Delete parent modal-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h4>Are you sure you want to delete {{currentParent}}?</h4>
      <p>if you press the button Delete, {{currentParent}} will be deleted permanently</p>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
        (click)="sureDelete = true">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="sureDelete = !true">Cancel</button>
      </div>
    </div>
  </div>
</div>