button.btn.btn-kindfox-success {
    background-color: #85CDCA;
    color: white
 }

 button.btn.btn-kindfox-success:hover {
    background-color: #66a7a4;
  }
 
 button.btn.btn-kindfox-warning {
     background-color: #E27D60 ;
     color: white
  }
  button.btn.btn-kindfox-warning:hover {
    background-color: #c66145 ;
    color: white
 }

 button.btn.btn-kindfox-danger {
    background-color: #A40043 ;
    color: white
 }
 button.btn.btn-kindfox-danger:hover {
    background-color: #89023a ;
    color: white
 }
 button.btn.btn-kindfox-primary {
    background-color: #41B3A3 ;
    color: white
 }

 button.btn.btn-kindfox-primary:hover {
    background-color: #2b7b71 ;
    color: white
 }

 .kindfox-red-font {
    color: #A40043;
    font-size: small;
 }
  
