<!-- this is the navbar of the messageboard -->
<app-mb-navbar></app-mb-navbar>

<!-- everything below the navbar -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <!-- our main component with the posts  -->
    <app-mb-content></app-mb-content>
      </div>
        <div class="side-nav col-xxl-2">
        <div class="row mx-1">
          <!-- our sidebar on the right of the page -->
          <app-mb-sidebar [parentId]="parent_id"></app-mb-sidebar>
    </div>
    </div>
  </div>
  </div>