* {
    box-sizing: border-box;
}

.top-nav {
    background-color: #E27D60;
    color: white;
    padding: 0;
}

.navbar-brand {
    padding: 0
}

.side-nav {
    background-color: #85CDCA;
    color: white;
}

.nav-links a {
    color: white;
}

.daycare-contact {
    background-color: #C38D9E
}

.btn {
    background-color: white
}