.side-nav {
    padding-top: 30%;
    background-color: #85CDCA;
    color: white;
}

.sidebar {
    position: absolute;
    visibility: visible;
    top: 0;
    transition: 0.4s; 
}

.sidebar-toggle {
    position: absolute;
    visibility: hidden;
    top: 0;
    transition: 0.4s; 
}

@media (min-width: 764px){
    .side-nav{
        padding-top: 7%;
    }
}
.contentarea{
    padding-top:  7%;
}
