.card-text {
    background-color: rgb(250, 249, 249);
    border-radius: 25px;
    border: solid 1px gray;
}

.commentinput {
    border-radius: 25px;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.message {
    min-width: 30%;
    max-width: 80%;
    margin-left: -30px;
}

.dropdown {
    cursor: pointer;
}