<div class="card-body">
    <div *ngFor="let comment of comments$" class="row">
      <div class="col-auto mx-2 avatarbox">
        <img src="../../../assets/img/person-icon.png" alt="" width="50px" class="rounded-pill">
      </div>
      <div class="col-auto message">
        <div class="card-text px-3 py-2 my-1">
          <div class="d-flex justify-content-between">
          <h6>Daycare Sunshine</h6>
          <div class="dropdown">
            <i class="fas fa-ellipsis-h" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="onDeleteComment(comment.id)">Delete</a></li>
              <li><a class="dropdown-item">Edit</a></li>
            </ul>
          </div>
        </div>
          <p>{{comment.comment}}</p>
        </div>
      </div>
    </div>
    <div class="form-floating m-3">
      <textarea [(ngModel)]="commentText"  #refEl class="form-control commentinput" (keydown)="triggerFunction($event, refEl)" [style.height]="textareaHeight" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Write a comment</label>
    </div>
    <h4 *ngIf="!comments$[0]">There are no comments here</h4>
  </div>