<div class="row">
    <div class="col-sm-12">
        <h1>Posts</h1>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addmessage">
  Add message
    </button> |
    <button class="btn btn-danger">Delete selected messages</button>
  </div>
</div>
<div *ngFor="let post of posts$" class="row justify-content-center my-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <img src="{{post.daycareavatar}}" class="img-responsive rounded-circle" width="50px" alt="">
            <!-- <i class="border p-3 rounded-circle fas fa-user"></i> -->
          </div>
          <div class="col-sm-10">
            <h5 class="card-title">{{post.daycarename}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted at {{post.created_at}}</h6>
          </div>
          <div class="col-sm-1">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editmessage"
                  (click)="onEdit(post.message)">Edit</a></li>
                <li><a class="dropdown-item" (click)="deletePost(post.id)">Delete</a></li>
              </ul>
            </div>
          </div>
        </div>
        <p class="card-text">{{post.message}}</p>
      </div>
      <div class="card-footer text-muted">
       <div class="privacy d-flex justify-content-between">
         <p class="m-0" *ngIf="post.privacy == 0; else private">Every parent can see this message</p>
         <ng-template #private>Only You can see this message</ng-template>
         <p class="m-0 commentbutton">Comments</p>
       </div> 
      </div>
      <app-comments></app-comments>
    </div>
  </div>
  <app-edit-post-form [message]="editThisMsg"></app-edit-post-form>
</div>

  <app-add-post-form (onSubmitted)="onAddPost($event)"></app-add-post-form>
  

