<div class="row">
    <div class="col-sm-12">
        <h1>Posts</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Posted at</th>
      <th scope="col">Privacy</th>
      <th scope="col">Visible to</th>
      <th scope="col">Comments</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>First message</td>
      <td>Message</td>
      <td>12-01-2022 12.45pm</td>
      <td>Public</td>
      <td>Everyone</td>
      <td>3</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success m-1">See Details</button>
            <button type="button" class="btn btn-warning m-1">Edit</button>
            <button type="button" class="btn btn-danger m-1">Delete</button>
          </div>
    </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>First message</td>
        <td>Child</td>
        <td>12-01-2022 12.45pm</td>
        <td>Private</td>
        <td>Parents of Nore</td>
        <td>3</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-success m-1">See Details</button>
              <button type="button" class="btn btn-warning m-1">Edit</button>
              <button type="button" class="btn btn-danger m-1">Delete</button>
            </div>
      </td>
      </tr>
  </tbody>
</table>
    </div>
</div>