<div class="row">
    <div class="col-sm-12">
        <h1>Posts</h1>
    </div>
</div>
<div *ngFor="let post of posts$" class="row justify-content-center my-3">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">
            <i class="border p-3 rounded-circle fas fa-user"></i>
          </div>
          <div class="col-sm-10">
            <h5 class="card-title">Childcare Sunshine</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted {{post.created_at}}</h6>
          </div>
        </div>
        <p class="card-text">{{post.message}}</p>
      </div>
      <div class="card-footer text-muted">
       <div class="privacy d-flex justify-content-between">
         <p class="m-0">Every parent can see this message</p>
         <p class="m-0">Comments</p>
       </div> 
      </div>
    </div>
  </div>
</div>