<form>
    <div class="container-sm mb-5">
        <div class="row">
        <div class="col m-1">
            <input type="text" class="form-control" id="name" placeholder="First name" name="name">
        </div>
        <div class="col m-1">
            <input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname">
        </div>
        </div>
        <div class="row">
            <div class="col m-1">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="col m-1">
                <input type="text" class="form-control" id="phoneNum" placeholder="Phone number" name="phone">
            </div>
        </div>
        <div class="row">
            <div class="col m-1">
                <input type="password" class="form-control" placeholder="Enter password" name="pswd">
            </div>
            <div class="col m-1">
                <a routerLink="parents"><button class="btn btn-success"
                    >Submit</button></a>
            </div>
        </div>
    </div>
  </form>



