<div class="card-body">
    <div *ngFor="let comment of comments$" class="row">
      <div class="col-auto mx-3 my-1 avatarbox">
        <img *ngIf="curParent == comment.parent_id else daycarevatar" src="{{comment.parentavatar}}" alt="" width="50px" class="rounded-pill">
        <ng-template #daycarevatar>
          <img src="{{comment.avatar}}" alt="" width="50px" class="rounded-pill">
        </ng-template>
      </div>
      <div class="col-auto message">
        <div class="card-text px-3 py-2 my-1">
          <div class="d-flex justify-content-between">
          <div class="commenthead">
            <h6 *ngIf="comment.daycare_id else parentname">{{comment.name}}</h6>
            <ng-template #parentname>
                <h6>{{comment.firstname}} {{comment.lastname}}</h6>
            </ng-template>
            <small>{{calculateTimeSince(comment.created_at)}}<span> ago</span></small>
          </div>
          <div *ngIf="curParent == comment.parent_id" class="dropdown">
            <i class="fas fa-ellipsis-h" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="onDeleteComment(comment.id)">Delete</a></li>
              <li><a class="dropdown-item" (click)="onClickEdit(comment.id, comment.comment)">Edit</a></li>
            </ul>
          </div>
        </div>
          <p *ngIf="commentId !== comment.id">{{comment.comment}}</p>
          <textarea #editEl (click)="autogrow(editEl)" (keydown)="updateComment($event, editEl)" *ngIf="commentId == comment.id" [(ngModel)]="editComment" type="text" class="form-control editComment"></textarea>
        </div>
      </div>
    </div>
    <div class="form-floating m-3">
      <textarea [(ngModel)]="commentText"  #refEl class="form-control commentinput" (keydown)="triggerFunction($event, refEl)" [style.height]="textareaHeight" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Write a comment</label>
    </div>
    <h4 *ngIf="!comments$[0]">There are no comments here</h4>
  </div>