.daycare-contact {
    background-color: #C38D9E
}



button.btn-kindfox-warning {
    background-color: #85CDCA ;
    color: white;
    width: 175px;
 }

 button.btn-kindfox-warning:hover {
    background-color: #66A7A4 ;
 }

 .modal {
     color: black;
 }