<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" routerLink="children" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-baby"></i></div>
                    <span class="mx-2">Children</span>
                </a>
                <a class="nav-link" routerLink="parents">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    <span class="mx-1">Parents</span>
                </a>
                <a class="nav-link" routerLink="calendar">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    <span class="mx-2">Calendar</span>
                </a>
                <a class="nav-link" routerLink="posts">
                    <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
                    <span class="mx-2">Posts</span>
                </a>

                <!--<a class="nav-link" routerLink="../messageboard">

                -->

                <a class="nav-link" routerLink="diaries">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    <span class="mx-2">Diaries</span>
                </a>
                <!--
                <a class="nav-link" routerLink="../messageboard">

                    <div class="sb-nav-link-icon"><i class="fas fa-eye"></i></div>
                    <span class="mx-2">Messageboard</span>
                </a>-->
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{daycareName}}
        </div>
    </nav>
</div>