<div class="sb-nav-fixed">
    <app-topnavbar></app-topnavbar>

    
    <div id="layoutSidenav">
        <!-- this is de left sidebar of the dashboard -->
        <app-sidenavbar></app-sidenavbar>        


        <div id="layoutSidenav_content">
            <div class="container">
                <!-- all components of dashboard are displayed here in as content of the dashboard -->
            <router-outlet></router-outlet>
            </div>

            <!-- here we display the copyright in the footer -->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Kindfox 2021</div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>