/* You can add global styles to this file, and also import other style files */

/* ============ calendar style =============*/

.fc-scrollgrid a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fc-daygrid-day-frame {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b8b7b7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #41B3A3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }