<div class="container">
    <div class="row">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasLabel">Parent Login</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form >
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="Pemail" [(ngModel)]="email" name="email">
                    <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="PPassword" [(ngModel)]="password" name="password">
                        <br>
                        <button type="submit" class="btn btn-primary" (click)="Plogin()">Login</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Daycare Login</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">                
                <form >
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="DCEmail" [(ngModel)]="email" name="email">
                    <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="DCPassword" [(ngModel)]="password" name="password">
                        <br>
                        <button type="submit" class="btn btn-primary" (click)="DClogin()">Login</button>
                        <br>
                        <button type="button" class="btn btn-primary" routerLink="../register">Register</button>
                        <a >here</a>
                        No account? Register here!
                    </div>
                </form>
            </div>
          </div>

        <div class="col family" id="fam" Data-bs-toggle="offcanvas" href="#offcanvasExample">
            <p>Parents</p>
        </div>
        <div class="col daycare" id="dc" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
            <p>Daycares</p>
        </div>
    </div>
</div>