<!-- Modal -->
<div class="modal fade" id="childEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit child</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit(child_firstname.value, child_lastname.value, age.value, childcode.value)" 
            [formGroup]="childEditForm">
                <div class="container-sm mb-5">
                        <div class="row">
                        <div class="col m-1">
                            <input type="text" class="form-control" id="name" 
                            placeholder="First name" name="name"
                            formControlName="child_firstname"
                            #child_firstname>
                            <span *ngIf="!childEditForm.get('child_firstname')?.valid && childEditForm.get('child_firstname')?.touched" 
                            class="help-block">Please enter a name!</span>
                        </div>
                        <div class="col m-1">
                            <input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname"
                            formControlName="child_lastname"
                            #child_lastname>
                            <span *ngIf="!childEditForm.get('child_lastname')?.valid && childEditForm.get('child_lastname')?.touched" 
                            class="help-block">Please enter a name!</span>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col m-1">
                                <input type="number" class="form-control" id="age" placeholder="Age" name="age"
                                formControlName="age"
                                #age>
                                <span *ngIf="!childEditForm.get('age')?.valid && childEditForm.get('age')?.touched" 
                            class="help-block">Please enter the age!</span>
                            </div>
                            <div class="col m-1">
                                <input type="text" class="form-control" id="childCode" placeholder="Enter a code" name="code"
                                formControlName="childcode"
                                #childcode>
                                <span *ngIf="!childEditForm.get('childcode')?.valid && childEditForm.get('childcode')?.touched" 
                            class="help-block">Please enter a valid child code!</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-1">
                                <button type="submit" class="btn btn-success"
                                
                                >Submit</button>
                            </div>
                        </div>
                    </div>
                  </form>
        </div>
        
      </div>
    </div>
  </div>
