<header>
    <img src="../../assets/img/Kindfoxlogowhite.png" width="150px" class="logo">
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 signin">
                <div class="card w-xxl-75">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active mb-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sign up</button>
                        </div>
                      </nav>
                      <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <form class="row gx-2 gy-2 align-items-center">
                            <div class="col">
                              <form (ngSubmit)="Onsubmit(companyname, dcadress, dcemail, dcphone, dcpassword, dcbtw, pasverify)" [formGroup]="newDayCareForm">
                                <div class="input-group-icon mb-3">
                                  
                                  <input 
                                  class="form-control input-box form-foodwagon-control" 
                                  id="companyname" 
                                  type="text" 
                                  placeholder="Company Name" 
                                  formControlName="companyname"
                                  #companyname
                                  >

                                  <span *ngIf="!newDayCareForm.get('companyname')?.valid && newDayCareForm.get('companyname')?.touched" 
                                  class="help-block">Please enter a name!</span>

                                </div>
                                  <div class="input-group-icon mb-3">

                                    <input 
                                    class="form-control input-box form-foodwagon-control" 
                                    id="dcEmail" 
                                    type="email" 
                                    placeholder="E-mail address" 
                                    formControlName="dcemail"
                                    #dcemail
                                    >
                                    <span *ngIf="!newDayCareForm.get('dcemail')?.valid && newDayCareForm.get('dcemail')?.touched" 
                                    class="help-block">Please enter an email address!</span>
                                </div>
                                <div class="input-group-icon mb-3">

                                    <input class="form-control input-box form-foodwagon-control" 
                                    id="dcadress" 
                                    type="text" 
                                    placeholder="address" 
                                    formControlName="dcadress"
                                    #dcadress
                                    >
                                    <span *ngIf="!newDayCareForm.get('dcadress')?.valid && newDayCareForm.get('dcadress')?.touched" 
                                    class="help-block">Please enter an address!</span>

                                </div>
                                <div class="input-group-icon mb-3">
                                    
                                    <input class="form-control input-box form-foodwagon-control" 
                                    id="BTW" 
                                    type="text" 
                                    placeholder="BTW" 
                                    formControlName="dcbtw"
                                    #dcbtw
                                    >
                                    <span *ngIf="!newDayCareForm.get('dcbtw')?.valid && newDayCareForm.get('dcbtw')?.touched" 
                                    class="help-block">Please enter your btw!</span>
                                  
                                </div>
                                <div class="input-group-icon mb-3">
                                    
                                    <input class="form-control input-box form-foodwagon-control" 
                                    id="dcphone" 
                                    type="text" 
                                    placeholder="phone" 
                                    formControlName="dcphone"
                                    #dcphone
                                    >
                                    <span *ngIf="!newDayCareForm.get('dcphone')?.valid && newDayCareForm.get('dcphone')?.touched" 
                                    class="help-block">Phone number should start with 04 and have 10 digits</span>
                                  
                                </div>
                                <div class="input-group-icon mb-3">

                                    <input class="form-control input-box form-foodwagon-control" 
                                    id="dcpassword" 
                                    type="password" 
                                    placeholder="Password" 
                                    formControlName="dcpassword"
                                    #dcpassword
                                    >
                                    <span *ngIf="!newDayCareForm.get('dcpassword')?.valid && newDayCareForm.get('dcpassword')?.touched" 
                                    class="help-block">Please enter a password!</span>
                                  
                                </div>

                                <div class="input-group-icon mb-3">

                                    <input input class="form-control input-box form-foodwagon-control" 
                                    id="pasverify" 
                                    type="password" 
                                    placeholder="pasverify" 
                                    formControlName="pasverify"
                                    #pasverify>
                                  
                                </div>                
                                
                                <!--
                                <div *ngIf="!isdaycare">
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Pfirstname" type="text" placeholder="First Name" [(ngModel)]=firstname name="firstname">
                                  </div>
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Psurname" type="text" placeholder="Surname" [(ngModel)]=lastname name="lastname">
                                  </div>
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Pemail" type="email" placeholder="Email" [(ngModel)]=email name="email">
                                  </div>
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Pphone" type="number" placeholder="Phonenumber" [(ngModel)]=phone name="phone">
                                  </div>
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Ppass" type="password" placeholder="Password" [(ngModel)]=password name="password">
                                  </div>
                                  <div class="input-group-icon mb-3">
                                    <input class="form-control input-box form-foodwagon-control" id="Pverify" type="password" placeholder="Password" [(ngModel)]=pasverify  name="pasverify">
                                  </div>
                                  
                                </div>
                              -->

                                <button type="submit" [disabled]="!newDayCareForm.valid" class="btn btn-success">Sign up</button>
                              </form>
                                

                                  
                            </div>
                            
                            <!--<div class="d-grid gap-3 col-sm-auto">-->
                              
                            <!--</div>-->
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 doimg">
                <div class="toddlers">

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
<div class="about-us">
  
    <h3>About Us</h3>

    We of Kindfox strive to make the communication as easy as possible between Daycares and Parents.


    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto 
    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
    esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
  
</div>
