<header>
    <img src="../../assets/img/Kindfoxlogowhite.png" width="150px" class="logo">
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 signin">
                <div class="card w-xxl-75">
                    <div class="card-body">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active mb-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sign up</button>
                          <button class="nav-link mb-3" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Log in</button>
                        </div>
                      </nav>
                      <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <form class="row gx-2 gy-2 align-items-center">
                            <div class="col">
                              <div class="input-group-icon mb-3">
                                <label class="visually-hidden" for="inputEmail">E-mail address</label>
                                <input class="form-control input-box form-foodwagon-control" id="inputEmail" type="email" placeholder="Login or E-mail address" />
                              </div>
                              <div class="input-group-icon mb-3">
                                <label class="visually-hidden" for="inputPassword">Password</label>
                                <input class="form-control input-box form-foodwagon-control" id="inputPassword" type="password" placeholder="Password" />
                              </div>
                              <button class="btn btn-danger" id="submit" type="submit">Sign up</button>
                            </div>
                            <!--<div class="d-grid gap-3 col-sm-auto">-->
                              
                            <!--</div>-->
                          </form>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <form class="row gx-4 gy-2 align-items-center">
                            <div class="col">
                              <div class="input-group-icon mb-3">
                                <label class="visually-hidden" for="inputEmail">E-mail address</label>
                                <input class="form-control input-box form-foodwagon-control" id="inputEmail" type="email" placeholder="Login or E-mail address" />
                              </div>
                              <div class="input-group-icon mb-3">
                                <label class="visually-hidden" for="inputPassword">Password</label>
                                <input class="form-control input-box form-foodwagon-control" id="inputPassword" type="password" placeholder="Password" />
                              </div>
                              <button class="btn btn-danger" type="submit">Log in</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 doimg">
                <div class="toddlers">

                </div>
            </div>
        </div>
    </div>
</body>