header {
    box-sizing: border-box;
    background-color: #E27D60;
    color: white;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
}
.logo{
    padding-left: 20px;
}
.signin{
    padding-top: 5%;
    font-size: 150%;
}
body{
    height: 80%;
}
.toddlers{
    background-image: url(../../assets/img/Playingtoddlers.png);
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 50%;
    height: 100%;
}

.about-us{
    background-color: #E27D60;
    text-align: center;
    margin: 0%;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}
