
<!-- this is where the user can see all the events of the week on the right sidebar -->

<div class="row mx-1">
    <div class="col-sm-12">
      <h4 class="my-2">calendar</h4>
    </div>
    <p>Monday 1 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Tuesday 2 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Wednesday 3 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Thursday 4 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Friday 5 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Saturday 6 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
    <p>Sunday 7 Jan 2021 <br>
    <span class="text-muted">Event name</span>
    </p>
